
body {
    background-color: #fbfbfb;
}

.container {
    border: 2px solid #dddddd;
    padding-bottom: 10px;
}

.titlebar {
    background-color: white;
    border-bottom: 2px solid #dddddd;
    padding: 10px 0 10px 0;
}

.category-list {
    border-right: 2px solid #dddddd;
}

.login-button {
    text-align: right;
}

.picture {
    border-radius: 50%;
}

.glyph {
    color: red;
}

.flash-message {
    background-color: wheat;
    text-align: center;
    margin-top: 10px;
}
