body {
    background-color: #fbfbfb;
}

.container {
    border: 2px solid #dddddd;
    padding-bottom: 10px;
}

.titlebar {
    background-color: lightblue;
    margin-bottom: 5px;
}

.category-list {
    border-right: 2px solid #dddddd;
}

.login-button {
    text-align: right;
}

.picture {
    border-radius: 50%;
}
