{% extends "main.html" %}
{% block body %}
    <div class="row">


        <div class="col-md-2 col-sm-4 col-xs-5 category-list">

            <div class="row">
                <div class="col-md-12">
                    <h3>Categories</h3>
                </div>
            </div>

            {% for category in all_categories %}
                <div class="row">
                    <div class="col-sm-12 h4">
                        <a href="{{ url_for('show_category_items',category_id=category[1]) }}">{{ category[0] }} <span
                                class="badge">{{ category[2] }}</span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-9 col-sm-7 col-xs-6 category-items">
            {% block items %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

