{% extends "main.html" %}
{% block body %}
<div class="col-md-2 category-list">
    <div class="row">
        <div class="col-md-12">
            <h3>Categories</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="btn-group-vertical btn-group-lg" role="group">
                {% for category in all_categories %}
                <a class="btn btn-default"
                   href="{{ url_for('show_category_items',category_id=category.id) }}">{{category.name}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <h3>{{category.name}} Items ({{ item_count }} items)</h3>
    <ul class="items">
        {% for item in items %}
        <div class="latest-item">
            <div class="item-name">{{item.item_name}}</div>
            <div class="category-name">{{item.name}}</div>
        </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}
